body{
    margin: 0;
}
#container{
    height: 100vh;
    display: flex;
    background-color: #000;
    color: #fff;
}

#layout{
    padding: 20px;
}

#logo{
    width: 100px;
    margin-left: 38px;
}

.texts{
    list-style: none;
}

.item-menu{
    margin-bottom: 15px;
}

#login{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

#playlists{
    height: 100vh;
}

#section-playlist{
    display: flex;
    justify-content: space-between;
}

#playlist-suges{
    display: flex;
    list-style: none;
}

.item-menu:last-child{
    margin-top:50px;
}
#texts{
    display: flex;
}

.text-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 350px;
}

.texts li:nth-child(7){
    margin-right: 58px;
}

.texts li:nth-child(8){
    margin-right: 150px;
}

#section-btn{
    display: flex;
    justify-content: space-around;
    width: 300px;
}

#btn-inscribe{
    background:transparent;
    color: #fff;
    border:none;

    cursor: pointer;
}

#btn-login{
    background-color: #fff;
    color: #000;

    height: 40px;
    width: 80px;

    border:none;
    border-radius:40px;

    font-weight: bolder;

    cursor: pointer;

}

.card-playlist{
    width: 300px;
    height: 300px;
}

.card-playlist figure{
    margin: 0;
}