body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
#container{

    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    color: #fff;
}

#layout{
    width: 20%;
    padding: 20px;
}

#logo{
    width: 100px;
    margin-left: 38px;
}

.texts{
    list-style: none;
}

.item-menu{
    margin-bottom: 15px;
    
}

.item-menu a{
    text-decoration: none;
    color: #fff;
}

.icon{
    margin-right: 5px;
}

.plus{
    margin-left: 140px;
}


#login{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

#playlists{
    height: 100vh;
}

#section-playlist{
    display: flex;
    justify-content: space-between;
}

#playlist-suges{
    display: flex;
    gap: 30px;
    list-style: none;
}

.item-menu:last-child{
    margin-top:50px;
}

.playlist-title{
    font-size: large;
    font-weight: bold;
}

.playlist-description{
    font-size: small;
    max-width: 200px;
}
#texts{
    display: flex;
}

.text-bottom{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
    font-size: small;
}

.text-g{
    width: 250px;
}

#section-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

#section-btn a{
    text-decoration: none;
}

#section-btn a:hover{
    text-decoration: none;
    color: green;
}

#btn-inscribe{
    background:transparent;
    color: #fff;
    border:none;

    cursor: pointer;
}

.btn-login{
    height: 40px;
    width: 80px;

    border:none;
    border-radius:40px;

    font-weight: bolder;

    cursor: pointer;

}

.card-playlist{
    width: 100%;
    max-width: 300px;
    height: 300px
}

.card-playlist figure{
    margin: 0;
}
